
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Izinkan semua operasi baca dan tulis ke semua koleksi.
    // PERINGATAN: Aturan ini sangat permisif dan tidak aman untuk produksi.
    // Aturan ini harus diganti dengan aturan yang lebih ketat sebelum aplikasi diluncurkan.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
